@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

body{
	background: #fafbfd;
	font-family: 'Montserrat', sans-serif;
	font-size: 16px;
}
.container{
	width: 100%;
	max-width: 1600px;
	margin: 0 auto;
}
